@model System.Collections.Generic.List<DemoIISThreadAsync.Models.Produto>

@{
}

<h2>Async</h2>

<ul>
    @foreach (var item in Model)
{
    <li>
        @item.Id 
        <strong>@item.Name</strong>
    </li>
}

</ul>